html, body {
	height:100%;
	background-color: #777
}

header {
	width: 960px;
	text-align: center;
}

header h1 {
	font-family: arial;
	font-size: 18px;
	text-align: center;
	padding: 12px 24px;
	display: inline-block;
	color: #777;
}

nav {
	width: 960px;
	margin: 0 auto 0 auto;
  	background: #ebebeb;
  	font-family: arial;
	font-size: 18px;
	color: #777;
  	text-align: center;

}

.content-wrap {
	width: 960px;
	margin: 0 auto 0 auto;
	background: #ebebeb;
}

main {
	margin-bottom: 90px;
	min-height: 100%;
}

section {
	display: inline-block;
	width: 495px;
	height: 300px;
	margin: 0 auto 0 auto;
	background: #ebebeb;
  	font-family: arial;
	font-size: 18px;
	color: #777;
  	text-align: center;

}

#right {
	float: right;
	display:block;
	width: 60%;
}


aside {
	width: 455px;
	height: 300px;
	margin: 0 auto 0 auto;
  	background: #ebebeb;
  	font-family: arial;
	font-size: 18px;
	color: #777;
  	text-align: center;

}

article {

}

.clear {

}

p {

}

footer {
  	width: 960px;
	margin: 0 auto 0 auto;
  	background: #ebebeb;
  	font-family: arial;
	font-size: 18px;
	color: #777;
  	text-align: center;
}