html {
	height:100%;
	width:960px;
	background-color: #777;
	margin: 0 auto 0 auto;
}

body {
	width: 960px;
	background-color: #777
}

header {
	width: 960px;
	text-align: center;
	font-family: arial;
	font-size: 10px;
	display: inline-block;
	color: #777;
	padding-top: 32px;
}

h1 {
	font-weight: 100;
	font-size: 18px;

}


nav {
	width: 960px;
	height: 100px;
	text-align: center;
	margin: 0 auto 0 auto;
	margin-bottom:-12.5px;
  	background: #ebebeb;
  	font-family: arial;
	font-size: 18px;
	color: #777;
  	
}

h2 {
	font-weight: 100;
	font-size: 18px;
	padding-top: 36px;
}

.content-wrap {
	width: 960px;
	height: 100px;
	margin: 0 auto 0 auto;
	margin-bottom:-25px;
	background: #ebebeb;
}

main {
	margin-bottom: 90px;
	min-height: 100%;
}

section {
	display: inline-block;
	width: 495px;
	height: 300px;
	margin: 0 auto 0 auto;
	background: #ebebeb;
  	font-family: arial;
	font-size: 18px;
	color: #777;
  	text-align: center;

}

#right {
	float: right;
	display:block;
	height: 300px;
	width: 450px;
	margin: 0 auto 0 auto;
	background: #ebebeb;
	font-family: arial;
	font-size: 18px;
	color: #777;
	text-align: center;

}

article {
	background: #777;
	width: 475px;
    margin-left: 10px;
    padding-bottom: 25px;

}

article h1 {
	color: #ebebeb;
	font-family: arial;
	padding-top: 15px;
}


article p {
	color: #777;
	font-family: arial;
	padding-top: 15px;
}

.small-div {
	background: #ebebeb;
	width: 90%;
    margin: 0 auto 0 auto;
    height: 50px;

}

p .small-div {
	color:#777;
	margin-bottom: 5px;
	margin: 0 auto 0 auto;
	padding-top: 36px;
}

.small-div2 {
	background: #ebebeb;
	width: 90%;
    margin: 0 auto 0 auto;
    height: 50px;
}

.clear {

}

footer {
  	width: 960px;
  	height: 100px;
	margin: 0 auto 0 auto;
  	background: #ebebeb;
  	font-family: arial;
	font-size: 18px;
	color: #777;
  	text-align: center;
}